.container{
    width: 66%;
    height: 950px;
   border: 4px solid #2c0550;

}
.child1{
    display: inline-block;
    margin: 20px;
    width: 200px;
    /* height: 500px; */
    border: 2px rgb(226, 43, 74);
}
.child2{
    display: inline-block;
    margin: 20px;
    width: 200px;
    /* height: 500px; */
    border: 2px rgb(226, 43, 74);
}
.child3{
    display: inline-block;
    margin: 20px;
    width: 200px;
    /* height: 500px; */
    border: 2px rgb(226, 43, 74);
}
.child4{
    display: inline-block;
    margin: 20px;
    width: 200px;
    /* height: 500px; */
    border: 2px rgb(226, 43, 74);
}
.child5{
    display: inline-block;
    margin: 20px;
    width: 200px;
    /* height: 500px; */
    border: 2px rgb(226, 43, 74);
}
.child6{
    display: inline-block;
    margin: 20px;
    width: 200px;
    /* height: 500px; */
    border: 2px rgb(226, 43, 74);
}
.child7{
    display: inline-block;
    margin: 20px;
    width: 200px;
    /* height: 500px; */
    border: 2px rgb(226, 43, 74);
}
.child8{
    display: inline-block;
    margin: 20px;
    width: 200px;
    /* height: 500px; */
    border: 2px rgb(226, 43, 74);
}

img{
    width: 200px;
}   